<nav id="navbar">
  {% load static %}
  <div class="logoBx">
    <img src="{% static './Instagram/images/logo.png' %}" alt="" class="logo" />
    <img
      src="{% static './Instagram/images/instagram-logo.png' %}"
      alt=""
      class="instagram"
    />
  </div>
  <a href="{% url 'home' %}">
    <svg
      aria-label="Home"
      class="_8-yf5"
      color="#262626"
      fill="#262626"
      height="25"
      role="img"
      viewBox="0 0 48 48"
      width="25"
    >
      <path
        d="M45.5 48H30.1c-.8 0-1.5-.7-1.5-1.5V34.2c0-2.6-2.1-4.6-4.6-4.6s-4.6 2.1-4.6 4.6v12.3c0 .8-.7 1.5-1.5 1.5H2.5c-.8 0-1.5-.7-1.5-1.5V23c0-.4.2-.8.4-1.1L22.9.4c.6-.6 1.6-.6 2.1 0l21.5 21.5c.3.3.4.7.4 1.1v23.5c.1.8-.6 1.5-1.4 1.5z"
      ></path>
    </svg>
  </a>
  <div class="search">
    <form action="{% url 'search' %}" method="GET">
      <i class="fa fa-search"></i>
      <input type="text" placeholder="search" name="username" />
    </form>
  </div>
  <a href="{% url 'post' %}" id="add">
    <i class="fa fa-plus plus"></i>
    Create New Post
  </a>
  <a href="{% url 'reels' %}" id="reel">
    <img src="{% static './Instagram/images/reel.png' %}" alt=""/ >
  </a>
  <a href="{% url 'profile' %}" id="profile"
    ><img src="{{profileImage}}" alt="" />
  </a>
  <a class="button" href="{% url 'logout' %}" role="button">logout</a>
</nav>
