@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 500px;
}

body {
  overflow-x: hidden;
  background-color: #f2f2f2 !important;
}
#navbar a{
  text-decoration:none;
  color:#ffffff;
  padding:8px 25px;
}
#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100vw;
  min-height: 6vh;
  background-color:#ffffff;
  padding: 0px 20px;
}

#navbar .logoBx .logo {
  width:30px;
}
#navbar .logoBx  .instagram{
  width:85px;
}
#navbar .button{
  background-color:#ED0074;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 68px;
}
#navbar .search input {
  width: 15vw;
  height: 4vh;
  padding: 10px 15px;
  background-color: #fafafa;
  border-radius: 2px;
  border: 1px solid #a19b9b;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#navbar .search input::-webkit-input-placeholder {
  text-align: center;
  font-size: 1rem;
  font-family: "Roboto";
}

#navbar .search input:-ms-input-placeholder {
  text-align: center;
  font-size: 1rem;
  font-family: "Roboto";
}

#navbar .search input::-ms-input-placeholder {
  text-align: center;
  font-size: 1rem;
  font-family: "Roboto";
}

#navbar .search input::placeholder {
  text-align: center;
  font-size: 1rem;
  font-family: "Roboto";
}

#navbar .class-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30%;
}

#navbar .class-lists li {
  list-style: none;
}

#navbar .class-lists #add a img {
  width: 1.5vw;
}

#navbar .class-lists #reel img {
  width: 1.5vw;
}

#navbar .class-lists #profile a img {
  max-width: 50px;
  min-width: 45px;
  min-height: 45px;
  max-height: 50px;
  border-radius: 50%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

main .post_story {
  width:80%;
  margin: 10px  auto ;
}

main .post_story .stories {
  width:100%;
  height: 15vh;
  background-color: #ffffff;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 5px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .post_story .stories::-webkit-scrollbar {
  display: none;
}
main .post_story .stories .storyBx{
  margin:auto 10px;
  text-align: center;
}
main .post_story .stories .story {
  min-width: 70px;
  max-width: 70px;
  height: 70px;
  border-radius:50%;
  border: 3px solid #ED0074;
  padding:2px;
}

main .post_story .stories .story img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  z-index: -1;
  cursor: pointer;
}
main .post_story .stories .story #plusIcon{
  width: 50%;
  height: 50%;
  
}
main .post_story .stories span{
  font-size:13px;
  text-align: center;
  color:#ADA2A2;
  font-weight:550;
  margin-top:3px;
}
main .post_story .posts {
  width:100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: grid;
  grid-template-columns: repeat(2, minmax(250px , 1fr));
  gap:50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  margin:20px auto;
}

main .post_story .posts #post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  padding:10px;
}

main .post_story .posts #post #post_header {
  height: 10vh;
  width:80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  margin:0 auto 3px;
}
main .post_story .posts #post #post_header>div{
   display: flex;
   align-items: center;
}
main .post_story .posts #post #post_header .post_details{
  margin-left:15px;
}
main .post_story .posts #post #post_header .more_icon{
  width:25px;
  height:25px;
}
main .post_story .posts #post #post_header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
main .post_story .posts #post #post_header h5{
  font-size:25px;
  margin-bottom:0;
  line-height:23px;
}
main .post_story .posts #post #post_header span{
  font-size:14px;
  font-weight:600;
  text-transform:capitalize;
}
main .post_story .posts #post #post_header h4 {
  font-size: 1.5rem;
  font-family: "Roboto";
  font-weight: 100;
}

main .post_story .posts #post #user_post {
  width: 80%;
  height:420px;
  object-fit:fill;
  margin:0 auto;
}

main .post_story .posts #post .lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 15px 0;
}

main .post_story .posts #post .lower a {
  margin-left: 50px;
}

.main_story {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  border: 12px solid #e77070;
  display: none;
}

.main_story img {
  width:100%;
  height:100%;
}

#like ._8-yf5{
     color:#000;
     transition:all 0.3s ease-in;
}